{% extends "layout.html" %}

{% block content %}

<h1>Projects</h1>


    <table>
        <thead>
            <tr>
                <th>Project</th>
                <th>Client</th>
                <th>Billable?</th>
                <th>Estimated Hours</th>
                <th>Service Line</th>
                <th>Practice</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>
                   <a href="{{ url_for('projects_project', sk_project=project.sk_project) }}">{{ project.project }}</a>
                </td>
                <td>
                   {{ project.client }}
                </td>
                <td>
                   {{ project.is_billable }}
                   
                </td>
                <td>
                   {{ project.estimated_hours }}
                </td>
                <td>
                  {{ project.service_line }}
                </td>
                <td>
                  {{ project.practice }}
                </td>
                <td>
                   {{ project.type }}
                </td>
                <td>
                  EDIT PROJECT | DELETE PROJECT
                </td>
            </tr>
            {% endfor %}
            <form action="{{ url_for('projects_new') }}" method="POST">
                <tr>
                    <td>
                        <input type="text" name="project" placeholder="Project" />
                    </td>
                    <td>
                        <input type="text" name="client" placeholder="Client" />
                    </td>
                    <td>
                        Billable?
                        <input type="checkbox" name="is_billable" />
                    </td>
                    <td>
                        <input type="number" name="estimated_hours" placeholder="Estimated Hours" />
                    </td>
                    <td>
                        <input type="text" name="service_line" placeholder="Service Line" />
                    </td>
                    <td>
                        <input type="text" name="practice" placeholder="Practice" />
                    </td>
                    <td>
                        <input type="text" name="type" placeholder="Type" />
                    </td>
                    <td>
                        <input type="submit" value="Add Project" />
                    </td>
                </tr>    
            </form> 
        </tbody>
    </table>
    
    
    


{% endblock content %}