{% extends "layout.html" %}

{% block content %}

<h1>Projects</h1>


    <table>
        <thead>
            <tr>
                <th>Project</th>
                <th>Client</th>
                <th>Billable?</th>
                <th>Service Line</th>
                <th>Practice</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.project }}</td>
                <td>{{ project.client }}</td>
                <td>
                    <input 
                        type="checkbox"
                        {% if project.is_billable %}
                        checked
                        {% endif %}
                    />
                </td>
                <td>{{ project.service_line }}</td>
                <td>{{ project.practice }}</td>
                <td>{{ project.type }}</td>
                <td>
                    <form action="/projects/{{ project.sk_project }}" method="POST">
                        <input type="submit" name="PUT" value="Edit" />
                        <input type="submit" name="DELETE" value="Delete" />
                    </form>
                </td>
            </tr>
            {% endfor %}
            <form action="/projects/new" method="POST">
                <tr>
                    <td>
                        <input type="text" name="project" placeholder="Project" />
                    </td>
                    <td>
                        <input type="text" name="client" placeholder="Client" />
                    </td>
                    <td>
                        <input type="checkbox" name="is_billable" />
                    </td>
                    <td>
                        <input type="text" name="service_line" placeholder="Service Line" />
                    </td>
                    <td>
                        <input type="text" name="practice" placeholder="Practice" />
                    </td>
                    <td>
                        <input type="text" name="type" placeholder="Type" />
                    </td>
                    <td>
                        <input type="submit" value="Add Project" />
                    </td>
                </tr>    
            </form> 
        </tbody>
    </table>
    
    
    


{% endblock content %}